.login{
	background: url('https://images.unsplash.com/photo-1486520299386-6d106b22014b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: 100%;
	min-height: calc(100vh - 180px);
	padding-top: 100px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.signup{
	background: url('https://images.unsplash.com/photo-1486520299386-6d106b22014b?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
	background-size: 100%;
	min-height: calc(100vh - 180px);
	padding-top: 100px;
	display:flex;
	flex-direction: column;
	align-items: center;
}
.form-container{
	width: 700px;
	display:flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	backdrop-filter: blur(20px);
	border: 1px solid var(--primary-color);
	border-radius: 5px;
}
.login .form-container{
	width: 400px;
}
.form-title{
	color: var(--primary-color);
}
form{
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 10px;
	width: 100%;
}
.signup form{
	display: grid;
	grid-template-columns: repeat(2, 1fr);	
}
.signup form .full-width{
	grid-column: 1/3 !important;
}

input[type=text],
input[type=number],
input[type=email],
input[type=password],
input[type=submit],
textarea{
	padding: 10px 0;
	border-radius: 3px;
	outline: 0;
	border: 1px solid var(--border-clr);
}
form span{
	font-size: 14px;
}