<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>User Sign Up page</title>
</head>
<body>
	<div th:replace="@{/header}::header"></div>
	<form th:action="@{/signUp}" th:object="${user}" method="post">
		<h1>Sign Up Form</h1>
		<input type="text" name="userName" placeholder="Enter Name"><br>
		<input type="email" name="userEmail" placeholder="Enter Email"><br>
		<input type="password" name="userPassword" placeholder="Enter password"> <br>
		<input type="password" name="userConfirmPassword" placeholder="Enter password again"><br>
		<input type="text" name="userPhone" placeholder="Enter phone No."><br>
		<textarea rows="5" name="userAddress" placeholder="Enter address"></textarea><br>
		<textarea rows="5" name="userImage" placeholder="Enter Image url"></textarea><br>
		<button type="submit">SignUp</button>
		<span>Already Registered,<a th:href="@{/login}">Login Here</a></span>
	</form>
</body>
</html>