<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>My Orders</title>
<link rel="stylesheet" th:href="@{/css/userDashboard.css}" />
</head>
<body>
	<div th:replace="@{/header}::header"></div>
	
	<div class="dashboard">	
		<div th:replace="@{/fragments/dashboardSidebar}::dashboardSidebar"></div>
		<div class="right-content">
			<h2>My Orders</h2>
			<hr>
			<div class="content">
				<table cellspacing=0>
					<tr>
						<td>Image</td>
						<td>Name</td>
						<td>Price</td>
						<td>Quantity</td>
						<td>OrderDate</td>
						<td>Status</td>
						<td>Total Price</td>
						<th>Action</th>
					</tr>
					<tr th:each="item:${orderData}">
						<td>
							<a th:href="@{/userOrders/{orderId} (orderId=${item.orderId})}">
								<img th:src="*{item.productImage}" style="width: 70px">
							</a>
						</td>
						<td>
							<a th:href="@{/userOrders/{orderId} (orderId=${item.orderId})}" th:text="*{item.productName}"></a>
						</td>
						<td th:text="*{item.productPrice}"></td>
						<td th:text="*{item.productQuantity}"></td>
						<td th:text="*{item.orderDate}"></td>
						<td th:text="*{item.orderStatus}"></td>
						<td th:text="*{item.productQuantity*item.productPrice}"></td>  
						<td><a href="#">Cancel</a></td>
					</tr>
				</table>		
			</div>
		</div>
	</div>
</body>
</html>